{{/*
Standard Kubernetes Ingress with optional nginx annotations
Usage: {{ include "common.ingress.standalone" . }}
*/}}
{{- define "common.ingress.standalone" -}}
{{- include "common.withMergedValues" (dict "templateName" "common.ingress" "context" .) -}}
{{- end -}}

{{- define "common.ingress" -}}
{{- if .Values.ingress.enabled }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ .Chart.Name }}
  namespace: {{ .Values.namespace }}
  annotations:
    cert-manager.io/cluster-issuer: {{ .Values.ingress.clusterIssuer | default "letsencrypt-http" | quote }}
    {{- if ne .Values.ingress.externalDns false }}
    {{- if .Values.ingress.externalDnsWildcard }}
    external-dns.alpha.kubernetes.io/hostname: {{ printf "%s,*.%s" .Values.ingress.host .Values.ingress.host | quote }}
    {{- else }}
    external-dns.alpha.kubernetes.io/hostname: {{ .Values.ingress.host | quote }}
    {{- end }}
    {{- end }}
    {{- if .Values.ingress.proxyBodySize }}
    nginx.ingress.kubernetes.io/proxy-body-size: {{ .Values.ingress.proxyBodySize | quote }}
    {{- end }}
    {{- if .Values.ingress.timeout }}
    nginx.ingress.kubernetes.io/proxy-connect-timeout: {{ .Values.ingress.timeout | quote }}
    nginx.ingress.kubernetes.io/proxy-send-timeout: {{ .Values.ingress.timeout | quote }}
    nginx.ingress.kubernetes.io/proxy-read-timeout: {{ .Values.ingress.timeout | quote }}
    {{- end }}
    {{- if .Values.ingress.keepAlive }}
    nginx.ingress.kubernetes.io/keep-alive: {{ .Values.ingress.keepAlive | quote }}
    {{- end }}
spec:
  ingressClassName: {{ .Values.ingress.className }}
  tls:
    - hosts:
        - {{ .Values.ingress.host }}
      secretName: {{ .Chart.Name }}-tls
  rules:
    - host: {{ .Values.ingress.host }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: {{ .Chart.Name }}
                port:
                  number: {{ .Values.service.port }}
{{- end }}
{{- end -}}
